.slider-container {
    position: relative;
    max-width: 100%;
  }
  .mySlides {
    display: none;
    max-width: 75%; /* Adjust the image width */
    height: auto;
  }
  .w3-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 24px;
  }
  .w3-display-left {
    left: 0;
  }
  .w3-display-right {
    right: 18%;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  .product-details {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
  }
  .description {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  .button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: 100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before
   { opacity: 1;
    visibility: visible;}
  .button:hover:after {
    opacity: 1;
    visibility: hidden;}

  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  .button {
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #313431;
    color: white;
    border: none;
    text-decoration: none; 
  }
  
  .button:hover {
    background-color: #45a049;
  }
  